* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans",sans-serif;
}

a {
  text-decoration: none;
  color: #E1BB79;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  line-height: 18px;
  font-size: 16px;
}

h1, h2, h3, h4, p {
  font-weight: 300;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 80%;
}

#freelance section:nth-child(odd), #front section:nth-child(odd) {
  background: #f6f7f8;
  padding: 25px 0;
}

nav {
  background: #0D1D56;
  border-bottom: 3px solid #C0A16A;
  position: fixed;
  z-index: 6;
  width: 100%;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav .logo {
  max-width: 250px;
}

nav .logo img {
  width: 100%;
}

nav ul {
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-weight: 700;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  bottom: -7px;
  left: 0;
  position: absolute;
  background: #E1BB79;
  transition: ease width .3s;
}

.opener {
  background: #0D1D56;
  position: relative;
}

.opener .wrapper {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1100px;
  padding: 45px;
  width: 100%;
  margin: 0 auto;
}

.opener .wrapper .content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.opener .left, .opener .right {
  width: 50%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.opener h1, .opener h2 {
  color: #E1BB79;
  text-align: left;
  margin: 0;
}

.opener h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 68px;
}

.opener h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;
}

.opener .right img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH";
  width: 80%;
}

.projects {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 30px;
}

.projects .item {
  -webkit-flex: 0 0 31%;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 20px;
  box-shadow: 1px 1px 10px grey;
  background: #fff;
}

.projects .item img {
  width: 100%;
  height: auto;
}

.projects .button {
  text-align: center;
  margin-bottom: 25px;
}

.projects .button a {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    transition: ease all .3s;
    background: #E1BB79;
}

.more {
  text-align: right;
  padding-bottom: 25px;
}

.skills .list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skills .list article {
    -webkit-flex-basis: 14%;
    -ms-flex-preferred-size: 14%;
    flex-basis: 14%;
    text-align: center;
    padding: 10px;
    font-size: 6rem;
}
.skills .list article i {
    position: relative;
    color: #0D1D56;
    transition: ease color .8s;
}

.skill-icon {
    opacity: 0;
    transition: ease opacity .8s;
}


@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 568px) {

}

@media only screen and (min-width: 880px) {

}

@media only screen and (min-width: 1140px) {

}